* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: #20202b;
    color: #FFF;
    /* test */
    /* test boarder green */
    /* border: 3px solid #34d034; */
    overflow-y: hidden;
}

/* Grid saved here */
/* https://grid.layoutit.com/?id=2SvP1W6 */
.container {
    display: grid;
    /*                     1      2      3      4      5     */
    grid-template-columns: 0.1fr 0.4fr 2.7fr 0.5fr 0.1fr;
    grid-template-rows: 0.1fr 0.1fr 1.1fr 1.1fr 0.1fr;
    gap: 10px 10px;
    width: 100%;
    height: 100%;
    grid-auto-flow: row;
    grid-template-areas:
        "Header     Header      Header      Header      Header"
        "SpaceLeft  GridView    Banner      GridView2   SpaceRight"
        "SpaceLeft  InnerArea   InnerArea   RightBox1   SpaceRight"
        "SpaceLeft  InnerArea   InnerArea   RightBox2   SpaceRight"
        "Footer     Footer      Footer      Footer      Footer";
}

.Header {
    grid-area: Header;
    background-color: #17171f
}

.SpaceLeft {
    grid-area: SpaceLeft;
}

.GridView {
    grid-area: GridView;
    font-size: 24px;
    padding: 20px 0;
}

.Banner {
    grid-area: Banner;
    background-color: #3a6f5845
}

.SpacerRight {
    grid-area: SpacerRight;
}

.GridView2 {
    grid-area: GridView2;
    background-color: #3a6f5845
}

.RightBox1 {
    grid-area: RightBox1;
    border-radius: 12px;
    outline: #a8a8a7 solid thin;
}

.RightBox2 {
    grid-area: RightBox2;
    border-radius: 12px;
    outline: #a8a8a7 solid thin;
}

.Footer {
    grid-area: Footer;
    background-color: #17171f;
    padding: 10px 0;
    text-indent: 30px;
    outline: #dde80d solid thin;
    color: #cdd2d7
}

#InnerArea {
    display: grid;
    /*                     1   2   3   4  */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "Grid1  Grid2   Grid3   Grid4"
        "Grid5  Grid6   Grid7   Grid8"
        "Grid9  Grid10  Grid11  Grid12"
        "Grid13 Grid14  Grid15  Grid16";
    grid-area: InnerArea;

    /* animation testing */
    /* transition: all 1s ease; */
    animation-duration: 2s;
    /* animation-name: compressGrid, expandGrid, grid4, grid2; */
    animation-play-state: paused;
    /* animation-iteration-count: 1; */
    animation-timing-function: linear;
    animation-fill-mode: both;

    /* short hand */
    /* animation: changeGrid 5s infinite; */
}

.Grid1 {
    grid-area: Grid1;
    background-color: #3a516f45;
    border-radius: 12px;
}

.Grid2 {
    grid-area: Grid2;
    background-color: #3a516f45;
    border-radius: 12px;
}

.Grid3 {
    grid-area: Grid3;
    background-color: #3a516f45;
    border-radius: 12px;
}

.Grid4 {
    grid-area: Grid4;
    background-color: #3a516f45;
    border-radius: 12px;
}

.Grid5 {
    grid-area: Grid5;
    background-color: #3a516f45;
    border-radius: 12px;
}

.Grid6 {
    grid-area: Grid6;
    background-color: #3a516f45;
    border-radius: 12px;
}

.Grid7 {
    grid-area: Grid7;
    background-color: #3a516f45;
    border-radius: 12px;
}

.Grid8 {
    grid-area: Grid8;
    background-color: #3a516f45;
    border-radius: 12px;
}

.Grid9 {
    grid-area: Grid9;
    background-color: #3a516f45;
    border-radius: 12px;
}

.Grid10 {
    grid-area: Grid10;
    background-color: #3a516f45;
    border-radius: 12px;
}

.Grid11 {
    grid-area: Grid11;
    background-color: #3a516f45;
    border-radius: 12px;
}

.Grid12 {
    grid-area: Grid12;
    background-color: #3a516f45;
    border-radius: 12px;
}

.Grid13 {
    grid-area: Grid13;
    background-color: #3a516f45;
    border-radius: 12px;
}

.Grid14 {
    grid-area: Grid14;
    background-color: #3a516f45;
    border-radius: 12px;
}

.Grid15 {
    grid-area: Grid15;
    background-color: #3a516f45;
    border-radius: 12px;
}

.Grid16 {
    grid-area: Grid16;
    background-color: #3a516f45;
    border-radius: 12px;
}

/* animation testing */
@keyframes grid4 {
    0% {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "Grid1  Grid2   Grid3   Grid4"
            "Grid5  Grid6   Grid7   Grid8"
            "Grid9  Grid10  Grid11  Grid12"
            "Grid13 Grid14  Grid15  Grid16";
        /* use clip path when you put content in the square */
        /* clip-path: polygon(0 0, 105% 0, 105% 100%, 0 100%); */
    }

    70% {
        /*                      1   2     3   4   */
        grid-template-columns: 1fr 0.5fr 1fr 0.5fr;
        grid-template-rows: 1fr 0.fr 1fr 0.5fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "Grid1  Grid2   Grid3   Grid4"
            "Grid5  Grid6   Grid7   Grid8"
            "Grid9  Grid10  Grid11  Grid12"
            "Grid13 Grid14  Grid15  Grid16";
    }

    100% {
        /*                      1   2   3   4 */
        grid-template-columns: 1fr 0fr 1fr 0fr;
        grid-template-rows: 1fr 0fr 1fr 0fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "Grid1  Grid1   Grid3   Grid3"
            "Grid1  Grid1   Grid3   Grid3"
            "Grid9  Grid9   Grid11   Grid11"
            "Grid9  Grid9   Grid11   Grid11";
    }
}

/* 1U 1L */
@keyframes grid2 {
    0% {
        grid-template-columns: 1fr 0fr 1fr 0fr;
        grid-template-rows: 1fr 0fr 1fr 0fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "Grid1  Grid1   Grid3   Grid3"
            "Grid1  Grid1   Grid3   Grid3"
            "Grid9  Grid9   Grid11   Grid11"
            "Grid9  Grid9   Grid11   Grid11";
    }

    /* 70% { */
    /*                      1   2     3   4   */
    /* grid-template-columns: 1fr 0.5fr 1fr 0.5fr;
        grid-template-rows: 1fr 0.fr 1fr 0.5fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "Grid1  Grid2   Grid3   Grid4"
            "Grid5  Grid6   Grid7   Grid8"
            "Grid9  Grid10  Grid11  Grid12"
            "Grid13 Grid14  Grid15  Grid16";
    } */
    100% {
        /*                      1   2   3   4 */
        grid-template-columns: 1fr 0fr 0fr 1fr;
        grid-template-rows: 1fr 0fr 1fr 0fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "Grid1  Grid1   Grid1   Grid1"
            "Grid1  Grid1   Grid1   Grid1"
            "Grid9  Grid9   Grid9   Grid9"
            "Grid9  Grid9   Grid9   Grid9";
    }
}

/* 1U */
@keyframes grid1 {
    0% {
        grid-template-columns: 1fr 0fr 0fr 1fr;
        grid-template-rows: 1fr 0fr 1fr 0fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "Grid1  Grid1   Grid1   Grid1"
            "Grid1  Grid1   Grid1   Grid1"
            "Grid9  Grid9   Grid9   Grid9"
            "Grid9  Grid9   Grid9   Grid9";
    }

    /* 70% { */
    /*                      1   2     3   4   */
    /* grid-template-columns: 1fr 0.5fr 1fr 0.5fr;
        grid-template-rows: 1fr 0.fr 1fr 0.5fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "Grid1  Grid2   Grid3   Grid4"
            "Grid5  Grid6   Grid7   Grid8"
            "Grid9  Grid10  Grid11  Grid12"
            "Grid13 Grid14  Grid15  Grid16";
    } */
    100% {
        /*                      1   2   3   4 */
        grid-template-columns: 1fr 0fr 0fr 1fr;
        grid-template-rows: 1fr 0fr 1fr 0fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "Grid1  Grid1   Grid1   Grid1"
            "Grid1  Grid1   Grid1   Grid1"
            "Grid1  Grid1   Grid1   Grid1"
            "Grid1  Grid1   Grid1   Grid1";
    }
}

@keyframes compressGrid {
    0% {
        /*                      1   2   3   4 */
        grid-template-columns: 1fr 0fr 1fr 0fr;
        grid-template-rows: 1fr 0fr 1fr 0fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "Grid1  Grid1   Grid3   Grid3"
            "Grid1  Grid1   Grid3   Grid3"
            "Grid9  Grid9   Grid11   Grid11"
            "Grid9  Grid9   Grid11   Grid11";
        /* use clip path when you put content in the square */
        /* clip-path: polygon(0 0, 105% 0, 105% 100%, 0 100%); */
    }

    50% {
        /*                      1   2     3   4   */
        grid-template-columns: 1fr 0.5fr 1fr 0.5fr;
        grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "Grid1  Grid2   Grid3   Grid4"
            "Grid5  Grid6   Grid7   Grid8"
            "Grid9  Grid10  Grid11  Grid12"
            "Grid13 Grid14  Grid15  Grid16";
    }

    100% {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "Grid1  Grid2   Grid3   Grid4"
            "Grid5  Grid6   Grid7   Grid8"
            "Grid9  Grid10  Grid11  Grid12"
            "Grid13 Grid14  Grid15  Grid16";
    }
}

/* ///////////////////////// Testing /////////////////////// */

#titlebar {
    /* display: flex; */
    position: fixed;
    height: 45px;
    width: 100%;
    /* testing - yellow */
    /* outline: #dde80d solid thin; */
    margin: auto;
}

/* make the new title bar draggable*/
#titlebar #drag-region {
    /* allow for the cursor to change to resize when we hover near the edge of the window at the top, left, or right */
    width: calc(100% - 12px);
    height: calc(100%);
    margin-top: 4px;
    margin-left: 6px;
    margin-right: 6px;
    justify-self: center;
    justify-items: center;
    -webkit-app-region: drag;
    /* test */
    /* outline: #e8400d solid thin; */
}

#titlebar #content {
    padding: 0 20px;
    margin: auto;
}

#tradingview-widget1 {
    padding: 80px;
}

#logo {
    height: 25px;
    padding-left: 5px;
}

#window-controls {
    -webkit-app-region: no-drag;
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#window-controls .button {
    user-select: none;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.window-hover:hover {
    background: rgba(255, 255, 255, 0.1);
}

.window-hover:hover:active {
    background: rgba(255, 255, 255, 0.2);
}

.window-hover-close:hover {
    background: #E81123 !important;
}

.window-hover-close:active {
    background: #F1707A !important;
}

.window-hover-close:active .icon {
    filter: invert(1);
}

.mac-controls:hover .mac-hover {
    display: flex;
}

.mac-hover {
    display: none;
}

#restore-button {
    display: none !important;
}

#main {
    height: calc(100% - 32px);
    margin-top: 32px;
    padding: 20px;
    overflow-y: auto;
}

#min-button {
    grid-column: 1;
}

#max-button,
#restore-button {
    grid-column: 2;
}

#close-button {
    grid-column: 3;
}

/* the below removes all of the default button formatting  */
button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


p {
    margin: 10px;
    color: rgba(255, 255, 255, 0.4);
}

h1 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    padding: 20px;
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

h3,
body {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 13px;
}

p {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}